modules = ["python-3.11"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python auth_web.py"
waitForPort = 5000

[deployment]
deploymentTarget = "vm"
run = ["python", "botMovie.py"]

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
PARSER_API_ID = "38260292"
PARSER_API_HASH = "75465e743d507b467b61d1be29b32468"
